@*<h1>REGISTRAR</h1>

<form action="/account/create">

    Nombre<input value="Nombre"/>
    Apellido<input value="Apellido"/>
    Fecha de Nacimiento <select name="Type">
    <option value="Fecha Nacimiento"></option>
    </select>
    DNI<input value="DNI"/>
    Sexo<select value="Sexo"></select>
    Ciudad<select value="Ciudad"></select>
    Direccion<select value="Direccion"></select>
    Correo<input value="Correo"/>
    

    <button>Guardar</button>


</form>*@